.trennlinie {border-top: solid grey 2px;
            margin-top: 40px;}

.vorschau {width: 50%;}

.carousel-inner {
    position: relative;
    margin-left:auto;
    margin-right:auto;
    width: 800px;
    overflow: hidden; 
}

.tabelle {
    font-weight: bold;
    font-size: 18px;
}

.table-bordered-faq {
  border: 3px solid grey;
    width:70%;
}

.abschlussbild {width: 60%;}